version: "3.9"


x-consumer-base: &consumer_base
  build:
    context: .
    dockerfile: Consumer.dockerfile
  env_file:
    - env/.env


services:
  grpc:
    container_name: ${APP_NAME}-grpc
    image: ${APP_NAME}-grpc
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - env/.env
    command: sh -c "./scripts/run_grpc.sh"
    ports:
      - "50051:50051"
    volumes:
      - ../backend:/home/unprivilegeduser/shortener

  consumer:
    <<: *consumer_base
    command: ["-m", "src.infrastructures.broker.consumers.consumer_new_url"]

  consumer-update:
    <<: *consumer_base
    command: ["-m", "src.infrastructures.broker.consumers.consumer_update_url"]

networks:
  default:
    external: true
    name: global_net