# ===== base =====
.idea
.DS_Store

# ===== project =====
persistentdata

# ===== base =====
__pypackages__/
logs/
/backend/src/shortener_app.egg-info/
/backend/src/shortener.egg-info/
/backend/.import_linter_cache/
/backend/semgrep-results.json


# ===== cache data =====
__pycache__/
.ruff_cache
.cache

# ===== local environment =====
/backend/src/shortener_app/generated/*
/backend/.venv
/backend/env/*
/backend/!env/.env.example
/backend/docker/compose/infra/pgbouncer/userlist.txt

# ===== test data =====
.pytest_cache/
cover/
/htmlcov/
.coverage.*
