# ===== project =====
**.md
./.coverage
**.DS_Store

tests/
docs/
just/
proto/

docker/
scripts/
**.egg-info

# ===== docker =====
./.dockerignore

# ===== git =====
./.gitignore

# ===== env & venv =====
./.venv/
./env/.env.example

# ===== cache =====
./.pytest_cache
**/__pycache__/
./.ruff_cache
