# ===== project =====
./README.md
./.coverage
.DS_Store

# ===== docker =====
./.dockerignore
./Dockerfile

# ===== git =====
./.gitignore

# ===== env & venv =====
./.venv/
./env/.env.example

# ===== cache =====
./.pytest_cache
**/__pycache__/
./.ruff_cache
