# ===== base =====
__pypackages__/
logs/

# ===== cache data =====
__pycache__/
.ruff_cache
.cache

# ===== local environment =====
.venv
.DS_Store
env/*
!env/.env.example
docker/pgbouncer/userlist.txt

# ===== test data =====
.pytest_cache/
cover/
/htmlcov/
.coverage
.coverage.*
