version: "3.9"

services:
  fastapi:
    container_name: ${APP_NAME}
    image: ${APP_NAME}
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - env/.env
    command: sh -c "./scripts/run_app.sh"
    ports:
      - "8000:8000"
    healthcheck:
      test: [ "CMD-SHELL", "curl -fsSL http://localhost:8000/service_info/health/" ]
      interval: 10s
      timeout: 60s
      retries: 5
      start_period: 10s
    depends_on:
      pgbouncer:
        condition: service_healthy
    volumes:
      - ../backend:/home/unprivilegeduser/shortener

  pgbouncer:
    container_name: pgbouncer
    image: edoburu/pgbouncer:latest
    restart: always
    environment:
      # Чтобы логины совпадали с Postgres (DEV-вариант — простой файл)
      # На PROD лучше md5 и не хранить пароль в plain (см. ниже).
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "6432:6432"
    volumes:
      - ./pgbouncer/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:ro
      - ./pgbouncer/userlist.txt:/etc/pgbouncer/userlist.txt:ro
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h 127.0.0.1 -p 6432 -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  postgres:
    container_name: postgres
    image: postgres:${POSTGRES_VERSION}
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 10G
    volumes:
      - ../persistentdata/db:/var/lib/postgresql/data/

  redis:
    container_name: redis
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ../persistentdata/redis:/data
    command:
      - redis-server
      - --loglevel warning
      - --save 60 1
      - --appendonly yes
