version: "3.9"


x-consumer-base: &consumer_base
  build:
    context: .
    dockerfile: Dockerfile.consumer
  env_file:
    - env/.env


services:
  fastapi:
    container_name: ${APP_NAME}
    image: ${APP_NAME}
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - env/.env
    command: sh -c "./scripts/run_app.sh"
    ports:
      - "8000:8000"
    healthcheck:
      test: [ "CMD-SHELL", "curl -fsSL http://localhost:8000/healthcheck" ]
      interval: 10s
      timeout: 60s
      retries: 5
      start_period: 10s
    volumes:
      - ../backend:/home/unprivilegeduser/shortener

  consumer:
    <<: *consumer_base
    command: ["-m", "src.infrastructures.broker.consumers.consumer_new_url"]

  consumer-update:
    <<: *consumer_base
    command: ["-m", "src.infrastructures.broker.consumers.consumer_update_url"]

networks:
  default:
    external: true
    name: global_net