auth_enabled: false

server:
  http_listen_port: 3100
  log_level: error

common:
  path_prefix: /tmp/loki
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

ingester:
  lifecycler:
    ring:
      replication_factor: 1
      kvstore:
        store: inmemory
    final_sleep: 0s
  wal:
    enabled: true
    dir: /wal
  chunk_idle_period: 5m
  max_chunk_age: 1h

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
  filesystem:
    directory: /loki/chunks

limits_config:
  allow_structured_metadata: false
  reject_old_samples: true
  reject_old_samples_max_age: 168h

query_scheduler:
  max_outstanding_requests_per_tenant: 4096

table_manager:
  retention_deletes_enabled: false
  retention_period: 0s
